.nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem 2.5rem;
  border-right: 2px solid #ccc;
}

.link-container {
  list-style-type: none;
  padding: 0;
  margin: 0.5 0;
  flex-direction: column;
}

.nav-title {
  font-size: 2.25rem;
  font-weight: 700;
  white-space: nowrap;
}

.navlink-li {
  padding: 0.5rem 0;
  width: 100%;
}

.navlink {
  font-size: 115%;
  font-weight: 500;
  white-space: nowrap;
}

@media only screen and (max-width: 820px) {
  .link-container {
    width: 100%;
    align-items: start;
    margin-bottom: 0;
    margin-top: 0.25rem;
  }
  .navlink-li {
    padding: 0;
  }
  .navlink {
    width: 100%;
    display: flex;
    margin: 0.5rem 0;
  }
  .nav {
    height: unset;
    width: 100%;
    padding: 0.75rem 1.5rem;
    border-right: none;
    border-bottom: 1px solid var(--border-color);
  }
}
