.mobile {
  display: none;
}

.toolcard {
  width: 30%;
}

.prettifier-section {
  width: 40%;
  margin: 1rem;
}

.app-container {
  display: flex;
}

.image-section {
  margin: 16px;
}

@media only screen and (max-width: 820px) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
  .toolcard {
    width: 90%;
  }
  .prettifier-section {
    width: 90%;
  }
  .app-container {
    flex-direction: column;
  }
  .image-section {
    width: 90%;
  }
}
