.mobile {
  display: none;
}

.toolcard {
  width: 30vw;
}

.prettifier-section {
  width: 40vw;
}

@media only screen and (max-width: 768px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .toolcard {
    width: 90vw;
  }
  .prettifier-section {
    width: 90vw;
  }
}
