:root {
  --breakpoint: 768px;
  --fade: rgba(100, 100, 100, 0.2) 0px 8px 24px 0px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  overflow-x: hidden;
  background-color: #f4f4fb;
}

p {
  line-height: 1.5;
}

.page-title-text {
  font-size: calc(2.5rem + 1vw);
  font-weight: 700;
}

.home-title-text {
  font-size: calc(3rem + 1.2vw);
  font-weight: 800;
}

.home-logo {
  animation: ajui-spinner-animation 30s linear infinite;
  transform-origin: center;
  width: min(10vh, 10vw);
  height: min(10vh, 10vw);
}

.w-fc {
  width: fit-content;
}

.bordering {
  border: 2px solid green;
}

.fade {
  box-shadow: var(--fade);
}

@media (hover: hover) {
  .hover-fade {
    transition: box-shadow 0.3s ease-in-out;
  }
  .hover-fade:hover {
    box-shadow: var(--fade);
  }
}
