body {
  overscroll-behavior: none;
  overflow-x: hidden;
  background-color: #f4f4fb;
}

p {
  line-height: 1.5;
}

.page-title-text {
  font-size: calc(28px + 1vw);
}

.bordering {
  border: 2px solid red;
}

.home-title-text {
  font-size: calc(3rem + 1.2vw);
  font-weight: 800;
}

.home-logo {
  animation: aui-spinner-animation 30s linear infinite;
  transform-origin: center;
  width: min(10vh, 10vw);
  height: min(10vh, 10vw);
}
